.intern01{
  margin-top: 75px;
}
.standard-text{
    position: relative;
    display: inline-block;
    padding: 20px;
}

.standard-text{
    width: 70%;
}

/* Introduction */
.intern01 h1{
  font-family: 'Rajdhani', sans-serif;
}
.aboutus-container{
  position: relative;
  display: inline-block;
  vertical-align: top;
  filter: drop-shadow(3px 4px 2px var(--color07));
}
.aboutus-img{
  clip-path: polygon(0 0, 74% 0, 100% 100%, 25% 100%);
  background: url(../image/beaute.jpg) center/cover;
  height: 300px;
  width: 300px;
  border: solid 2px var(--color04);
}
.aboutus-img img{
  width: 100%;
}

/* ***************************************** 04 Sections ***************************************************/
.approche{
  margin-top: 20px;
}
.sec02 h3, .sec03 h3, .bann-content03 h3, .equipe h3{
  text-decoration: underline;
  margin: 0 0 20px 0;
  font-weight: 200;
}

/* Nos cibles */
.mytext02{
  position: relative;
  padding: 20px;
  min-width: 375px;
  width: 70%;
  background: var(--color05);
  border: solid 2px var(--color04);
  /* box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 6px -1px, rgba(0, 0, 0, 0.06) 0px 2px 4px -1px; */
  /* left: 50%;
  transform: translateX(-50%); */
  /* text-align: center; */
}

/* ********************************* Notre équipe ************************************** */
.equipe{
  position: relative;
  /* margin: 40px 0; */
  /* left: 50%;
  transform: translateX(-50%);
  min-width: 400px; */
  /* margin: auto; */
  width: 90%;
  background: var(--color03);
}
.equipe02{
  position: relative;
  /* margin: 40px 0; */
  /* left: 50%;
  transform: translateX(-50%);
  min-width: 400px; */
  margin: 10px 10px 0 20px;
  min-width: 300px;
}
.equipe03{
  margin: 35px 0;
}
.assistante-img{
  float: left;
}
/* .mydoc{
  position: relative;
  top: 50%;
} */


/* ********************************** Responsive ************************************** */

@media screen and (max-width:1100px){
  .standard-text{
    width: 100%;
  }
  .mydoc, .assistante-img{
    display: block;
    float: none;
    margin: auto;
  }
}
@media screen and (max-width: 700px){
  /* .standard-text{
    width: 100%;
  } */
}