.intern01{
  margin-top: 75px;
}
.aboutus-img, .standard-text{
    position: relative;
    display: inline-block;
    vertical-align: top;
}

.standard-text{
    width: 70%;
}

/* ***************************************** 04 Sections ***************************************************/
.sec02 h3, .sec03 h3, .bann-content03 h3, .equipe h3{
  font-size: 1.5rem;
  text-decoration: underline;
  margin: 0 0 20px 20px;
  font-weight: 200;
}

/* Nos cibles */
.mytext02{
  position: relative;
  min-width: 375px;
  width: 70%;
  left: 50%;
  transform: translateX(-50%);
  /* text-align: center; */
}

/* ********************************* Notre équipe ************************************** */
.equipe{
  position: relative;
  /* margin: 40px 0; */
  /* left: 50%;
  transform: translateX(-50%);
  min-width: 400px; */
  /* margin: auto; */
  width: 90%;
  background: var(--color03);
}
.equipe02{
  position: relative;
  /* margin: 40px 0; */
  /* left: 50%;
  transform: translateX(-50%);
  min-width: 400px; */
  margin: auto;
  width: 100%;
}
.equipe03{
  margin: 35px 0;
}


/* ********************************** Responsive ************************************** */

@media screen and (max-width:1100px){
  .standard-text{
    width: 100%;
  }
}
@media screen and (max-width: 700px){
  /* .standard-text{
    width: 100%;
  } */
}