.intern01{
  margin-top: 75px;
}
.aboutus-img, .standard-text{
    position: relative;
    display: inline-block;
    vertical-align: top;
}

.standard-text{
    width: 70%;
}

/* ***************************************** 04 Sections ***************************************************/
.sec02 h3, .sec03 h3, .doctor h3{
  font-size: 1.5rem;
  text-decoration: underline;
  margin: 0 0 0 20px;
  font-weight: 200;
}


@media screen and (max-width:1100px){
    .standard-text{
      width: 100%;
    }
}
@media screen and (max-width: 700px){
    /* .standard-text{
      width: 100%;
    } */
}
